body {
    margin: 0;
    padding: 0;
    background-image: url(https://image.freepik.com/free-photo/beautiful-roses-over-great-white-wooden-background-with-space-on-the-right_24972-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.level {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 20px 20px;
}

.button {
    width: 180px;
}

.link {
    width: 250px;
    height: 80px;
    background: rgb(178, 139, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    color: #7b71d6;
    font-size: 28px;
    font-weight: bold;
    border-radius: 3px;
    transition: all 0.2s;
    border: 1px solid #7b71d6;
}

.link:hover {
    transform: translateY(-3px);
    transition-duration: 0.2s;
    box-shadow: 0 0 15px #574cb9;
}